#root {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
}

body {
    background-color: rgb(103, 103, 103);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}